<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CattleManagement">
        <activity
            android:name=".activities.admin.DriverAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.TrashSourceRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UserRegistrationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.driver.AssignedTrashLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.consumer.AddTrashSourceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.consumer.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.driver.DriverDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.consumer.ConsumerDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.auth.AuthRegistration"
            android:exported="false" />
        <activity
            android:name=".activities.auth.AuthLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>